<span class="ion-page">
    <ion-content>
        <ion-grid class="background">
                <div class="ion-padding-start">
                    <p class="main-heading ion-padding">Skills</p>
                    <ion-row class="ion-justify-content-start ion-align-self-start">
                        <ion-col size-sm="12" size-md="12" size-lg="12" size="12">
                            <ion-row>
                                <ion-col size-lg="3" size-md="6" size-sm="4" size="12" class="ion-padding">
                                    <div class="card">
                                        <img src="../../../assets/images/html.png" alt="product">
                                        <h2>HTML, CSS, Javascript</h2>
                                        <div class="level">
                                            <span class="bi bi-star-fill checked"></span>
                                            <span class="bi bi-star-fill checked"></span>
                                            <span class="bi bi-star-fill checked"></span>
                                            <span class="bi bi-star-half checked"></span>
                                            <span class="bi bi-star-fill unchecked"></span>
                                        </div>
                                        <button type="button"
                                        popoverTitle="HTML/CSS/Javascript"
                                        [autoClose]="true"
                                        [ngbPopover]="popContentHtml"
                                        #popover3="ngbPopover">Details</button>
                                    </div>
                                    <ng-template #popContentHtml>
                                        <ng-container>
                                            <div>
                                                <ul>
                                                    <li>Hands-on Experience on <b>Different HTML tags.</b></li>
                                                    <li>A good knowledge on <b>CSS properties.</b></li>
                                                    <li><b>ES6</b> arrow functions.</li>
                                                    <li>JavaScript <b>String</b> menthods.</li>
                                                  </ul>
                                            </div>
                                        </ng-container>
                                    </ng-template>
                                </ion-col>
                                <ion-col size-lg="3" size-md="6" size-sm="4" size="12" class="ion-padding">
                                    <div class="card">
                                        <img src="../../../assets/images/angular.png" alt="angular">
                                        <h2>Angular 12</h2>
                                        <div class="level">
                                            <span class="bi bi-star-fill checked"></span>
                                            <span class="bi bi-star-fill checked"></span>
                                            <span class="bi bi-star-fill checked"></span>
                                            <span class="bi bi-star-fill unchecked"></span>
                                            <span class="bi bi-star-fill unchecked"></span>
                                        </div>
                                        <button type="button"
                                        popoverTitle="Angular 12"
                                        [autoClose]="true"
                                        [ngbPopover]="popContentAngular"
                                        #popover3="ngbPopover">Details</button>
                                    </div>
                                    <ng-template #popContentAngular>
                                        <ng-container>
                                            <div>
                                                <ul>
                                                    <li>Hands-on experience on <b>angular commands.</b></li>
                                                    <li>A Good knowledge on <b>Lazy Loading, Life cycle hooks</b> etc.</li>
                                                    <li>Have worked on <b>Services, Pipes, Http calls</b> etc.</li>
                                                    <li><b>Data sharing</b> in Angular.</li>
                                                    <li>Integrating Angular application with <b>kubernetes</b>.</li>
                                                  </ul>
                                            </div>
                                        </ng-container>
                                    </ng-template>
                                </ion-col>
                                <ion-col size-lg="3" size-md="6" size-sm="4" size="12" class="ion-padding">
                                    <div class="card">
                                        <img src="../../../assets/images/ionic_framework.png" alt="ionic">
                                        <h2>Ionic Framework</h2>
                                        <div class="level">
                                            <span class="bi bi-star-fill checked"></span>
                                            <span class="bi bi-star-fill checked"></span>
                                            <span class="bi bi-star-fill checked"></span>
                                            <span class="bi bi-star-fill unchecked"></span>
                                            <span class="bi bi-star-fill unchecked"></span>
                                        </div>
                                        <button type="button"
                                        popoverTitle="Ionic Framework"
                                        [autoClose]="true"
                                        [ngbPopover]="popContentIonic"
                                        #popover3="ngbPopover">Details</button>
                                    </div>
                                    <ng-template #popContentIonic>
                                        <ng-container>
                                            <div>
                                                <ul>
                                                    <li>Ionic <b>Life cycle hooks.</b></li>
                                                    <li>Experience on <b>Content space, Responsive text classes, Element padding, Element margin.</b></li>
                                                    <li>Experience on <b>Flex properties, Ionic breakpoints.</b></li>
                                                  </ul>
                                            </div>
                                        </ng-container>
                                    </ng-template>
                                </ion-col>
                                <ion-col size-lg="3" size-md="6" size-sm="4" size="12" class="ion-padding">
                                    <div class="card">
                                        <img src="../../../assets/images/bootstrap.jpg" alt="product">
                                        <h2>Bootstrap 4/Ng-Bootstrap</h2>
                                        <div class="level">
                                            <span class="bi bi-star-fill checked"></span>
                                            <span class="bi bi-star-fill checked"></span>
                                            <span class="bi bi-star-fill checked"></span>
                                            <span class="bi bi-star-fill unchecked"></span>
                                            <span class="bi bi-star-fill unchecked"></span>
                                        </div>
                                        <button type="button"
                                        popoverTitle="Bootstrap 4/Ng-Bootstrap"
                                        [autoClose]="true"
                                        [ngbPopover]="popContentBootstrap"
                                        #popover3="ngbPopover">Details</button>
                                    </div>
                                    <ng-template #popContentBootstrap>
                                        <ng-container>
                                            <div>
                                                <ul>
                                                    <li>Hands-on experience on <b>Bootstrap classes.</b></li>
                                                    <li>Hands-on experience on <b>Bootstrap Icons.</b></li>
                                                    <li>Hands-on experience on Ng-Bootstrap.
                                                        <ol>
                                                            <li><b>Alerts</b></li>
                                                            <li><b>Modals</b></li>
                                                            <li><b>Dropdowns</b></li>
                                                        </ol>
                                                    </li>
                                                  </ul>
                                            </div>
                                        </ng-container>
                                    </ng-template>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size-lg="3" size-md="6" size-sm="4" size="12" class="ion-padding">
                                    <div class="card">
                                        <img src="../../../assets/images/ag-grid.png" alt="ag-grid">
                                        <h2>AG Grid</h2>
                                        <div class="level">
                                            <span class="bi bi-star-fill checked"></span>
                                            <span class="bi bi-star-fill checked"></span>
                                            <span class="bi bi-star-fill checked"></span>
                                            <span class="bi bi-star-fill unchecked"></span>
                                            <span class="bi bi-star-fill unchecked"></span>
                                        </div>
                                        <button type="button"
                                        popoverTitle="AG Grid"
                                        [autoClose]="true"
                                        [ngbPopover]="popContentAggrid"
                                        #popover3="ngbPopover">Details</button>
                                    </div>
                                    <ng-template #popContentAggrid>
                                        <ng-container>
                                            <div>
                                                <ul>
                                                    <li>Hands-on Experience on <b>ag-grid angular.</b></li>
                                                    <li><b>ServerSideRowModels, ClientSideRowModels.</b></li>
                                                    <li>Implemented <b>Infinite Scrolling.</b></li>
                                                    <li>A good knowledge on different grid properties.</li>
                                                  </ul>
                                            </div>
                                        </ng-container>
                                    </ng-template>
                                </ion-col>
                                <ion-col size-lg="3" size-md="6" size-sm="4" size="12" class="ion-padding">
                                    <div class="card">
                                        <img src="../../../assets/images/others.jpg" alt="ag-grid">
                                        <h2>Other Technical Knowledge</h2>
                                        <button type="button"
                                        popoverTitle="Other Technical Knowledge"
                                        [autoClose]="true"
                                        [ngbPopover]="popContentOthers"
                                        #popover3="ngbPopover">Details</button>
                                    </div>
                                    <ng-template #popContentOthers>
                                        <ng-container>
                                            <div>
                                                <ul>
                                                    <li>A good Knowledge on <b>Git</b>.</li>
                                                    <li>Knowledge on usage of <b>Kubernetes secrets</b> in angular appliction.</li>
                                                    <li>A good knowledge on <b>npm packages</b>.</li>
                                                </ul>
                                            </div>
                                        </ng-container>
                                    </ng-template>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </div>
        </ion-grid>
    </ion-content>
</span>

