<span class="ion-page">
  <ion-content>
    <ion-grid class="background">
      <div>
        <p class="main-heading">Profile</p>
      </div>
      <ion-row>
        <ion-col size-sm="12" size-md="12" size-lg="12" size="12">
          <ion-row>
            <ion-col size-lg="6" size-md="6" size-sm="6" size="12" class="ion-padding-start">
              <div class="card">
                <img src="../../../assets/images/profile.jpg" alt="John" style="width:100%" onContextMenu="return false;">
                <h1>M Devidas Kini</h1>
                  <p>UI Developer</p>
                  <p>Seasoned professional with {{expYears}} years of experience. Expertise in Angular, Ionic, HTML, CSS, Javascript, Bootstrap.</p>
                <div class="icon-bar">
                  <a href="mailto:m.devidas.kini@gmail.com"><i class="bi bi-envelope-at-fill" style="color: #062c38;"></i></a>
                  <a href="tel:9164071421"><i class="bi bi-telephone-fill" style="color: #062c38;"></i></a>
                  <a href="https://www.linkedin.com/in/devidas-kini-43796a16b"><i class="bi bi-linkedin" style="color: #062c38;"></i></a>
                </div>
              </div>
            </ion-col>
            <ion-col size-lg="6" size-md="6" size-sm="6" size="12" class="ion-padding">
              <div class="ion-text-end">
                <p class="quote">" विद्याधनं सर्वधनप्रधानम् "</p>
                <small>Wealth of knowledge is the most precious wealth</small>
              </div>
              <div class="experience-card">
                <h2>Experience</h2>
                <div class="experience-bar">
                  <p>{{expYears}} years</p>
                </div>
                <p class="company">{{company}}</p>
                <p><b>Full Time</b> September 2020 - Present</p>
                  <ul>
                    <li>{{exp}} of experience in the hybrid application development environment.</li>
                    <li>Developed web application using  Angular Framework and Ionic Framework as per requirements.</li>
                    <li>Designed responsive and mobile-first User Interfaces using Bootstrap.</li>
                    <li>Expertise in HTML, CSS and typescript - a subset of JavaScript.</li>
                    <li>A good knowledge on Ag-Grid: a highly customizable JavaScript Data Grid.</li>
                  </ul>
              </div>
              <div class="contact">
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</span>
